@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

:root {
    --confirmTradeColour: rgba(0, 0, 0, 0.37);
}

.fadeIn {
    animation: fadeIn 0.3s ease-in-out both;
}

.fadeOut {
    animation: fadeOut 0.3s ease-in-out both;
}

.confirmTradeContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--confirmTradeColour);
    backdrop-filter: blur(10px);
    z-index: 80;
    opacity: 0;
    overflow-y: scroll;
}

.confirmTrade {
    margin: auto;
    background-color: rgb(28, 51, 92);
    height: 720px;
    width: 40em;
    border-radius: 10px;
    box-shadow: 0 5px 1px var(--confirmTradeColour);
    position: relative;
    top: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon {
    position: absolute;
    color: white;
    top: 10px;
    right: 20px;
    font-size: 3em;
    cursor: pointer;
    transition: color 0.3s;
}

.icon:hover {
    color: rgb(136, 120, 120);
}

.tradeInfo {
    flex: 1;
}

.controls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
}

.button {
    background-color: black;
    border: none;
    color: white;
    font-size: 2em;
    border-radius: 10px;
    padding: 10px 25px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.acceptTrade {
    background-color: rgb(24, 167, 24);
    
}

.acceptTrade:hover {
    background-color: rgb(13, 117, 13);
}

.declineTrade {
    background-color: rgb(231, 78, 78);
}

.declineTrade:hover {
    background-color: red;
}

.disabled {
    background-color: gray;
    cursor: not-allowed;
}

.tradedItems {
    display: flex;
    width: 50%;
    height: 30%;
    background-color: rgb(13, 27, 66);
    margin: auto;
    border-radius: 10px;
}

.tradeHeader {
    color: white;
    font-weight: bold;
    margin-left: 35px;
}

.information {
    text-align: center;
    font-weight: bold;
    width: 80%;
    margin: 20px auto;
    color: rgb(255, 31, 31);
}