@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes tabSelector {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.caseclicker {
    opacity: 0;
    margin: 10px auto;
    width: 95%;
    margin-bottom: 140px;
    animation: fadeIn 0.5s ease-in-out 0.3s both;
}

.header {
    margin-top: 70px;
    color: white;
    text-align: center;
    text-shadow: 0 3px 1px gray;
    user-select: none;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: white;
    width: 620px;
    margin: auto;
    border-radius: 10px;
    margin-bottom: -40px;
    position: relative;
}

.tab {
    cursor: pointer;
    user-select: none;
    text-align: center;
    position: relative;
    z-index: 20;
    transition: color 0.5s;
}

.selectedTab {
    color: rgb(104, 216, 70);
}

.selectedTab::before {
    content: '';
    position: absolute;
    background-color: rgb(104, 216, 70);
    height: 5px;
    width: 100%;
    bottom: -8px;
    opacity: 0;
    animation: tabSelector 0.5s ease-in-out both;
}

@media only screen and (max-width: 655px) {
    .tabs {
        width: 100%;
    }

    .selectedTab::before {
        display: none;
    }
}