@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes liftUp {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateY(40%);
    }
}

:root {
    --inputColour: rgb(3, 20, 51);
}

.caseclicker {
    opacity: 0;
    margin: 10px auto;
    width: 95%;
    margin-bottom: 140px;
    animation: fadeIn 0.5s ease-in-out 0.3s both;
}

.header {
    margin-top: 70px;
    color: white;
    text-align: center;
    text-shadow: 0 3px 1px gray;
}

.button {
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    background-color: black;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

/* .trades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
} */

.trades {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newTrade {
    position: relative;
    
}

.traderequest {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: rgb(47, 255, 64);
    font-size: 1.7em;
    transform: translateX(-50%);
    z-index: 5;
    border: 2px solid transparent;
    margin-bottom: 30px;
    transition: all 0.4s
}

.traderequest:hover {
    background-color: rgb(3, 209, 20);
    border: 2px solid green;
}

.tradeOffer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 34, 78);
    padding: 10px;
    border-radius: 10px;
}

.traderInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img {
    display: flex;
    align-items: center;
    gap: 10px;
}

.img .credit {
    width: 70px;
}

.img .icon {
    font-size: 5.5em;
}

.img .tradeIcon {
    font-size: 3.5em;
}

.tradeCard {
    background-color: rgb(34, 34, 34);
    padding: 20px 10px;
    border-radius: 10px;
    color: white;
    border: 2px solid transparent;
    transition: border 0.3s;
}

.tradeCard:hover {
    border: 2px solid white;
}

.username {
    font-weight: bold;
}

.traderInfo p {
    text-align: center;
}

.accept {
    background-color: rgb(75, 124, 214);
}

.accept:hover {
    background-color: rgb(29, 86, 190);
}

.span {
    color: yellow;
}

.searchTab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 250px;
}

.searchInput {
    border: 2px solid;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--inputColour);
    border: 3px solid rgb(27, 34, 78);
    padding-left: 20px;
}

.searchInput input::placeholder {
    color: rgb(212, 212, 212);
}

.input {
    background-color: var(--inputColour);
    outline: none;
    border: none;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.searchPlayer {
    background-color: rgb(80, 94, 114);
    font-size: 2em;
}

.searchPlayer:hover {
    background-color: rgb(49, 71, 102);
}

.disable {
    font-size: 2em;
    background-color: rgb(56, 56, 56);
    cursor: not-allowed;
}

.hidden {
    display: none;
}

.searchResult {
    margin-top: 40px;
    opacity: 0;
    color: red;
    text-align: center;
}

.liftUp {
    animation: liftUp 0.3s ease-in-out both;
}

.tabs {
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: white;
}

.tab {
    cursor: pointer;
    user-select: none;
}

@media only screen and (max-width: 940px) {
    .trades {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 610px) {
    .trades {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 570px) {
    .responsive {
        display: none;
    }

    .searchInput, .input {
        height: 60px;
    }

    .hidden {
        display: block;
        margin-top: 20px;
    }
}